* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header nav {
  background-color: #000;
  display: flex;
}

header nav a {
  color: #fff;
}

.nav-menu {
  display: flex;
}

.nav-menu-item {
  font-size: 15px;
  padding: 12px 24px;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.nav-menu-item:hover {
  background-color: #ccc;
}

.nav-menu-item:hover .nav-menu-item-sub-menu {
  display: block;
}

.nav-menu-item:hover a {
  color: #000;
}

.nav-menu-item-sub-menu {
  display: none;
  position: absolute;
  background-color: yellow;
  width: 150%;
  left: 0;
  top: 0;
  margin-top: 46.5px;
}

.nav-menu-item-sub-menu-item {
  padding: 8px 16px;
  background-color: #fff;
}

.nav-menu-item-sub-menu-item:hover {
  background-color: #ccc;
}

.nav-icon-search {
  margin-left: auto;
  font-size: 15px;
  padding: 12px 24px;
}

.nav-icon-search:hover {
  background-color: red;
}

/* .header-slider-content img {
  width: 100%;
} */

.main-band {
  margin: 64px auto;
  max-width: 800px;
}

.main-band-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 10px 0px;
  text-align: center;
}

.main-band-slogan {
  text-align: center;
  opacity: 0.6;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
  margin: 15px 0px;
}

.main-band-detail {
  text-align: justify;
}
